.assistant-app {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999999;
  top: 0;
}

.assistant-modal {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  background: #f1f5f9;
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
}

.header {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}
.content {
}
.input-shortcut-wrapper {
  display: flex;
  margin-top: 10px;
}
.input-shortcut {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.input-shortcut-edit {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-content-area {
  margin-top: 10px;
}
.assistant-textarea {
  margin-top: 10px;
}
.footer {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.shortcut-item {
  word-break: break-word;
}
